.callendar-main{
    position: relative;
    direction: rtl;
}

.callendar-main input{
    // padding:1.1rem 2rem;
    direction: ltr;
}

.callendar-main input:focus{
    border-color:rgb(51, 122, 183) !important;
    box-shadow: none;
}

.callendar-main input.border-less{
    border: unset !important;
}

.callendar-btn{
    position: absolute;
    padding: .39rem;
    right: 2px;
    top: 2px;
    border: 0;
    outline: 0;
    background-color: transparent;
    border-radius: 3px;
}

.callendar-body{
    z-index: 15000;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: all 0s ease 0s;
}




.callendar-main:hover .callendar-btn{
    background-color: #d3d3d3;
}

.callendar-main:hover input{
    border-color:rgba(51, 122, 183, .4);
}

.callendar-menu{
    direction: rtl;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    min-width: 280px;
    max-width: 400px;
    min-height: 100px;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #E4E6E9;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 7px;
    z-index: 1;
    font-family:IRANSans !important;
}

.callendar-body.top .callendar-menu{
    top: 40% !important;
    bottom: unset !important;
}

.callendar-body.bot .callendar-menu{
    bottom: 40% !important;
    top: unset !important;
}

.callendar-menu.show{
    display: block;
}

.callendar-menu.hide{
    display: none;
}

.callendar-menu .toolbar{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.callendar-row{
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
}

.callendar-menu .divider{
    margin-top: 3px;
}

.callendar-col{
    position: relative;
    width: 100%;
    padding: 0;
    text-align: center;
    -webkit-box-flex: 0;
    flex: 0 0 14.2857142%;
    max-width: 14.2857142%;
}

.callendar-row .item{
    position: relative;
    height:100%;
    padding: .3rem 0;
    text-align: center;
    border-radius: 4px;
}

.callendar-row .item:hover{
    background-color: #F8F9FA;
    cursor: pointer;
}

.callendar-row .item.now{
   border: 1px solid #DEDEDE;
}

.callendar-row .item.select{
    background-color: #337AB7;
    color: #ffffff;
 }

.callendar-menu .p-button::after, .callendar-menu .n-button::after {
    display: block;
    margin: 8px 5px;
    padding: 3px;
    content: "";
    border-top: 2px solid currentColor;
}

.callendar-menu .p-button::after {
    border-left: 2px solid currentColor;
    transform: rotate(135deg);
}

.callendar-menu .n-button::after {
    border-right: 2px solid currentColor;
    transform: rotate(-135deg);
}

.callendar-menu .c-button {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    padding: .375rem .75rem;
    color: #495057;
    text-align: center;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out;
    cursor: pointer;
}

.callendar-menu .c-button:hover {
    background-color: #F8F9FA;
}



.callendar-menu .c-button .calendar-arrow {
        display: inline-block;
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top-width: 5px;
        border-top-style: solid;
        margin: 0 0 0 5px;
        vertical-align:middle;
}